
.root {
  font-weight: var(--bold);
  color: var(--title-color);
}

h1.root {
  font-size: 20px;
  line-height: 32px;
}

h2.root {
  font-size: 18px;
  line-height: 26px;
}

h3.root {
  font-size: 17px;
  line-height: 27px;
}

h4.root {
  font-size: 15px;
  line-height: 24px;
}

h5.root {
  font-size: 14px;
  line-height: 22px;
}

.uppercase {
  text-transform: uppercase;
}
